//This is the third section 
@use '../mixins';
@use '../variables';

#third {
    .skills{
        padding: 10vh 5vw 0 5vw;
        @include mixins.flexdef(16%);
        flex-direction: row;
        align-items: flex-start;
        @include mixins.breakpoint(900px) {
            flex-direction: column;
            gap : 5vh;
        }
        .skill-type{
            @include mixins.flexdef(20px);
            justify-content: start;
            width: 28%;
            @include mixins.breakpoint(900px) {
                width: 90%;
            }
            .skill-title{
                font-size: 32px;
                @include mixins.breakpoint(900px) {
                    font-size: 25px;
                }
                @include mixins.breakpoint(600px) {
                    font-size: 15px;
                }
            }
            .all-skills{
                @include mixins.flexdef(50px);
                flex-wrap: wrap;
                flex-direction: row;
                @include mixins.breakpoint(600px) {
                    gap: 20px;
                }
            }
        }
        .comp-card {
            //skills cards for each skill
            background-color: variables.$backcolor;
            @include mixins.flexdef(20px);

            img {
                //skill visual
                width: 50px;
                height: auto;

                @include mixins.breakpoint(900px) {
                    width: 30px;
                }

                @include mixins.breakpoint(600px) {
                    width: 20px;
                }
            }

            p{
                @include mixins.breakpoint(900px) {
                    font-size: 15px;
                }
                @include mixins.breakpoint(600px) {
                    font-size: 10px;
                }
            }

            @include mixins.breakpoint(600px) {
                border: none;
                background-color: rgba(0, 0, 0, 0);
                gap: 10px;
            }
        }

        .comp-card:hover {
            //skills cards animation on hover
            transition: 0.5s;

            img {
                //skill visual scale up
                transition: 0.3s ease-in-out;
                transform: scale(1.2);
            }

            @include mixins.breakpoint(600px) {
                box-shadow: none;
            }
        }
    }
}
