//this file contains everything that is common to several elements
@use './variables';
@use './mixins';

//Fonts space
@font-face {
    font-family: "font";
    src: url("../fonts/cocogoose-pro.outlined.ttf");
}

@font-face {
    font-family: "font2";
    src: url("../fonts/futura-pt-book.otf");
}

@font-face {
    font-family: "font3";
    src: url("../fonts/cocogoose-pro.inline.ttf");
}

*{//mini reset
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family:"font2" ;
}

::-webkit-scrollbar{ //non-display scrollbar for Chrome, Edge, Opera, Safari, all browsers on iOS
    display: none;
}


body{
    width: 100%;
    background: variables.$backcolor;
    display: flex;
    flex-direction: column;
}

.noscroll{
    overflow: hidden;
}

.none{
    display: none;
}

.portfolio-section{//common to all sections
    width: 100%;
    height: 100vh;
    @include mixins.flexdef();
    position: relative;
}


//space for section backgrounds (except first)
#second, #third, #fourth, #fifth, .detail{
    background-size: cover;
    background-repeat: no-repeat;
}
#second{
    background-image: url(../img/backgrounds/backgrounds_01.png);
}
#third{
    background-image: url(../img/backgrounds/backgrounds_02.png);
}
#fourth, .detail{
    background-image: url(../img/backgrounds/backgrounds_03.png);
}
#fifth{
    background-image: url(../img/backgrounds/backgrounds_04.png);
}



//title space

h2,p,h3,h4{color: variables.$text-color}

h3, h4{
    font-family: 'font3';
    font-weight: lighter;
    text-transform: uppercase;
}


h3{
    position: absolute;
    top:10vh;
    font-size: 30px;
    @include mixins.breakpoint(600px){
        font-size: 20px;
        top:5vh;
    }
}